:root {
  --color-primary-blue: hsl(215, 51%, 70%);
  --color-primary-cyan: hsl(178, 100%, 50%);
  --color-primary-cyan-50: hsla(178, 100%, 50%, 0.5);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-dark-blue-300: hsl(217, 54%, 11%);
  --color-neutral-dark-blue-200: hsl(216, 50%, 16%);
  --color-neutral-dark-blue-100: hsl(215, 32%, 27%);
  --ff-primary: 'Outfit', sans-serif;
  --fs-base: 1.125rem;
  --img-width: 17.375rem;
  --img-avatar-width: 2.0625rem;
  --card-padding: 1.5rem;
  --border-radius-small: 8px;
  --border-radius-big: 15px;

  @media screen and (min-width: 375px) {
    --img-width: 18.875rem;
  }
}
